<%= link_to '< Back', project_payoffs_path(@payoff.project) %>

<h1>Editing payoff</h1>

<%= form_for(@payoff, :html => { :id => "payoff_form" }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end%>
